# Dependencies
node_modules
.next

# Build outputs
build
dist
out
.vercel

# Cache
.cache
.turbo

# Logs
*.log

# Environment
.env
.env.local
.env.production

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea
